:root {

    --iris-color: #4D5AE5;
    --ocean-color: #404BBF;
    --navi-blue-color: #2E2F42;
    --green-color: #31D0AA;
    --slate-color: #434455;
    --light-slate-color: #8E8F99;
    --cornflower-color: #E7E9FC;
    --cloud-color: #F4F4FD;
    --navi-blue-modal-color: rgba(46, 47, 66, 0.4);
    --gray-color: rgba(46, 47, 66, 0.7);
    --white-color: #FFFFFF;
    --dairy-color: #FCFCFC;
    /**
  |============================
  | 
  |============================
*/


}

/**
  |============================
  | Custom Studio style
  |============================
*/


body {

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #434455;
    background-color: #FFFFFF;

    /* font-family: 'Quicksand', sans-serif;
        font-family: 'Raleway', sans-serif; */

    /**
  |============================
  | Resets
  |============================
*/

}

ul,
ol {
    list-style-type: none;

}

a {
    text-decoration: none;
}



/**
  |============================
  | HEADER
  |============================
*/

.header {}

.header-link {

    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navi-blue-color);


}

.header-nav-link:hover,
.header-nav-link:focus {
    color: var(--ocean-color);

}

.header-nav-link:active {
    /* OCEAN */
    color: var(--ocean-color);

    text-decoration: underline;
}

.header-nav-logo {

    color: var(--iris-color);
}

.header-list {

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

    /* NAVY BLUE */
    color: var(--navi-blue-color);

}

.header-address {}

.header-address-link {

    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color);

}

.header-address-link:active,
.header-address-link:hover,
.header-address-link:focus {
    /* OCEAN */
    color: var(--ocean-color);

}

/**
  |============================
  | Section Hero
  |============================
*/

.section-hero {
    background: var(--navi-blue-color);

}

.section-hero-title {

    font-family: 'Roboto';

    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-color);
    ;
}

.hero-btn {
    background: var(--iris-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;

    font-weight: 500;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    /* IRIS */
    color: var(--white-color);
    ;
}

.hero-btn:hover,
.hero-btn:focus {
    /* OCEAN */
    background: var(--ocean-color);


}

/**
  |============================
  | Benefits
  |============================
*/

.benefits-title {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    /* NAVY BLUE */
    color: var(--navi-blue-color);

}

.benefits-item {

    line-height: 1.5;
    letter-spacing: 0.02em;
    /* SLATE */
    color: var(--slate-color);

}


/**
  |============================
  | What are we Doing
  |============================
*/

.section-cover {}

.cover-title,
.team-title {

    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    /* NAVY BLUE */

    color: var(--navi-blue-color);

}


/**
  |============================
  | Our Team
  |============================
*/

.section-team {
    background-color: #F4F4FD;
}

.list {
    /* background-color: #FFFFFF */
}
.team-list{
    background: #FFFFFF;
    
}


.team-title-member {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    /* NAVY BLUE */
    color: var(--navi-blue-color);

}

.team-item-member {
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* SLATE */
    color: var(--slate-color);

}

/**
  |============================
  | Footer
  |============================
*/


.section-footer {
    background: var(--navi-blue-color);

}

.footer-link {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud-color);

}

.footer-logo {
    color: var(--iris-color);
}

.footer-item {

    line-height: 1.5;
    letter-spacing: 0.02em;
    /* CLOUD */
    color: var(--cloud-color);

}

/**
  |============================
  | Portfolio style
  |============================
*/

/* Buttons */

.gallery-btn-list {

    font-weight: 500;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    /* IRIS */
    color: var(--iris-color);
}

.gallery-btn {
    background: var(--cloud-color);

    border: 1px solid var(--cornflower-color);

    border-radius: 4px;
}

.gallery-btn:hover,
.gallery-btn:focus {
    background: var(--ocean-color);

}

/* Section Callery 1-3 photos */

.gallery-pic-title {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    /* NAVY BLUE */
    color: var(--navi-blue-color);

}

.callery-pic-link:hover,
.callery-pic-link:focus {
    color: var(--ocean-color);

}

.gallery-pic-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;

    line-height: 1.5;
    letter-spacing: 0.02em;
    /* SLATE */
    color: var(--slate-color);

}